  <%
    url = thing[:attributes]["image_url"] 
    lurl = (url == nil || url.length == 0) ? "/assets/image-placeholder.png" : url.gsub(/(thumb_)(medium)(\.)/, '\1large\3') 
  %>

<div class="column" style="overflow:hidden">
  <div class="ui card">
    <div class="image" style="background-image: url('<%= lurl %>'); background-size: cover; background-repeat: no-repeat; background-position: 50% 0;">
      <img src="<%= lurl %>%" style="opacity: 0">
    </div>

    <div class="content" style="min-height: 80px">
      <div class="description"><%= thing[:attributes]["name"] %> </div>
      <div class="meta" style="display:none"><%= thing[:attributes]["description"] %> </div>
    </div>

    <div class="extra content">
      <div class="ui large buttons">
        <a target="_blank"
            href="<%= "#{current_env["domains"]["layerkeep"]}/projects/new?source=thingiverse&amp;thing_id=#{thing[:id]}" %>"
            class="ui  positive button layerkeep-manage" 
            role="button">
            LayerKeep
        </a>

        <div class="or"></div>

        <a target="_blank" 
            href="<%= "#{current_env["domains"]["thingiverse"]}/thing:#{thing[:id]}" %>" 
            class="ui  button external-name" 
            role="button">
            <span>Thingiverse</span>
        </a>
      </div>
    </div>
  </div>
  
</div>



<!-- 

<div class="ui card">
  <div class="image">
    <%
      url = thing[:attributes]["image_url"] 
      lurl = (url == nil || url.length == 0) ? "/assets/image-placeholder.png" : url.gsub(/(thumb_)(medium)(\.)/, '\1large\3') 
    %>
    <img src=<%= lurl %>>
  </div>
  <div class="content">
    <div class="header"><%= thing[:attributes]["name"] %> </div>
    <div class="meta" style="display:none"><%= thing[:attributes]["description"] %> </div>
  </div>
</div>

  <div class="extra content" style="padding: 10px; margin: 0px;">
    <div class="ui fluid buttons">
      <a target="_blank"
        href="<%= "#{current_env["domains"]["layerkeep"]}/projects/new?source=thingiverse&amp;thing_id=#{thing[:id]}" %>"
        class="ui tiny compact primary button layerkeep-manage" role="button">LayerKeep
      </a>
      <a target="_blank" href="<%= "#{current_env["domains"]["thingiverse"]}/thing:#{thing[:id]}" %>" 
        class="ui tiny compact button external-name" role="button"><span>Thingiverse</span></a>
    </div>
  </div>

-->
