<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <title>Pluck - 3D Model Search</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144217456-2"></script>
    <script>

      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-144217456-2');
    </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag     'application' %>
    
    
    
    <meta name="viewport" content="width=800">
    
    <meta name="description" content="3D model files to help you start 3D printing">
    
    <script>
      window.currentEnv = <%= (current_env && raw(current_env.to_json)) || {"domains": {"thingiverse": "https://thingiverse.com", "layerkeep": "https://layerkeep.com"}} %>
    </script>
    
  </head>

  <body class="has-navbar-fixed-top">
    <div id="app">
      <%= yield %>
    </div>
  </body>
</html>
